@model UCOHomeworkTool.Models.Course

@section ContextLinks
{
    @{Html.RenderPartial("_ContextLinks");}
}
<h3 class="page-header">Enroll a student in @Model.Name</h3>
<form class="form-inline" onsubmit="return false;">
    <div class="form-group">
        <label class="sr-only" for="studentId">Student Id</label>
        <input type="text" id="studentId" class="form-control" placeholder="Student Id" />
    </div>
    <div id="enrollBtn" class="btn btn-primary" onclick="enrollStudent(@Model.Id);">Enroll</div>
</form>
<div class="btn-toolbar"></div>
<h4>Current Roster:</h4>
<div class="col-sm-6">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Student Id</th>
            </tr>
        </thead>
        <tbody id="student_table_body">
            @foreach (var student in Model.Students.OrderBy(s => s.LastName))
            {
                <tr id="@(student.Id)">
                    <td>@student.LastName</td>
                    <td>@student.FirstName</td>
                    <td>@student.UserName</td>
                    <td><div class="btn btn-danger" onclick="unenrollStudent(@Model.Id, '@student.Id')">Unenroll</div></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function(){
        $("#studentId").keypress(function (event) {
            if (event.keyCode == 13)
            {
                $("#enrollBtn").click();
            }
        });

    });
    function enrollStudent(courseId)
    {
        var studentId = $("#studentId").val();
        $.ajax({
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "POST",
            data: JSON.stringify({"studentId" : studentId, "courseId" :courseId}),
            url: "/Teacher/EnrollStudent",
            success: function(data){
                $("#studentId").val("");
                if(data.message.includes("successfully"))
                {
                    toastr.success(data.message);
                    var newTableRow = $("<tr>").attr('id', data.student.Id)
                        .append($('<td>').html(data.student.LastName))
                        .append($('<td>').html(data.student.FirstName))
                        .append($('<td>').html(data.student.StudentId))
                        .append($('<td>').append($('<div>').html("Unenroll").addClass("btn btn-danger")
                                                    .click(function () { unenrollStudent(courseId, data.student.Id); })));

                    $("#student_table_body").append(newTableRow);
                }
                else if(data.message.includes("register"))
                {
                    toastr.error(data.message);
                }
                else if(data.message.includes("already"))
                {
                    toastr.info(data.message);
                }
            },
            error: function(data)
            {
                toastr.error("An error occurred, please try again later.");
            }
        });
    }
    function unenrollStudent(courseId, studentId)
    {
        $.ajax({
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            type: "POST",
            data: JSON.stringify({"courseId":courseId, "studentId": studentId}),
            url: "/Teacher/UnenrollStudent",
            success: function(data){
                if(data.success == true)
                {
                    toastr.success(data.message);
                    $("#student_table_body tr#" + studentId).remove();
                }
                else
                {
                    toastr.error(data.message);
                }


            },
            error: function(data)
            {
                toastr.error("An unknown error occurred, please try again later.");
            }
    });

    }
    //# sourceURL=enrollment.js:
</script>