@model IEnumerable<UCOHomeworkTool.Models.Assignment>

@foreach (var item in Model)
{
    <li>
        @Ajax.ActionLink("Assignment " + @item.AssignmentNumber,
                         "Assignment",
                         new { id = @item.Id },
                         new AjaxOptions
                         {
                             HttpMethod = "GET",
                             OnComplete = "activateLink('#aLink" + @item.Id + "');",
                             UpdateTargetId = "pageContent"
                         },
                         new { @id = "aLink" + @item.Id }
                         )
    </li>
}

