@model UCOHomeworkTool.Models.Assignment

@{
    ViewBag.Title = "Details";
}
@section ContextLinks
{
    @{Html.RenderPartial("~/Views/Admin/_ContextLinks.cshtml");}
}
<h2>Details</h2>

<div>
    <h4>Assignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssignmentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Problems)
        </dt>

        <dd>
            @foreach(var problem in Model.Problems.OrderBy(p => p.ProblemNumber))
            {
                Html.RenderPartial("~/Views/Teacher/_Problem.cshtml",problem);
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
