@model IEnumerable<UCOHomeworkTool.Models.Assignment>

@{
    ViewBag.Title = "Index";
}
@section ContextLinks
{
    @{Html.RenderPartial("~/Views/Admin/_ContextLinks.cshtml");}
}
<h3 class="page-header">Assignment Templates</h3>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssignmentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssignmentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Name)
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
