@model IEnumerable<UCOHomeworkTool.Models.Assignment>

@{
    ViewBag.Title = "Index";
}
@section ContextLinks
{
    @{Html.RenderPartial("~/Views/Admin/_ContextLinks.cshtml");}
}
<h3 class="page-header">Assignment Templates</h3>
@section Sidebar
{
    <li class="active">@Ajax.ActionLink("All", 
                        "AssignmentTable",
                        null,
                        new AjaxOptions { 
                            HttpMethod = "GET", 
                            UpdateTargetId = "assignmentTable", 
                            OnComplete="activateLink('#aTable0');"},
                        new {@id = "aTable0"} 
                        )</li>
    @foreach (var course in Model.Select(a => a.Course).Distinct().OrderBy(c => c.Name).ToList())
    {
        <li>@Ajax.ActionLink(@course.Name, 
                            "AssignmentTable", 
                            new { course = @course.Id}, 
                            new AjaxOptions { 
                                HttpMethod = "GET", 
                                OnComplete = "activateLink('#aTable" + @course.Id + "');",
                                UpdateTargetId = "assignmentTable" },
                            new { @id = "aTable"+@course.Id}
                            )</li>
    }
}
@section Toggle
{
    <a href="#menu-toggle" class="btn btn-primary btn-xs" id="menu-toggle"><i class="glyphicon glyphicon-chevron-left"></i></a>
}

<div id="assignmentTable">
    @Html.Partial("_AssignmentTable", Model)
</div>
